/* editor scope levels */
.cm-level0 { color: #ffffff; } /* white */
.cm-level1 { color: #aefab8; } /* green */
.cm-level2 { color: #fafa99; } /* yellow */
.cm-level3 { color: #a9f2ff; } /* blue */
.cm-level4 { color: #faadba; } /* red */
.cm-level5 { color: #c9bfff; } /* cyan */
.cm-level6 { color: #f9b5ff; } /* magenta */
.cm-level7 { color: #c7c7c7; } /* gray */
.cm-level8 { color: #ffba80; } /* orange */


/* You don't need below this line, it's just for this demo page */

/* editor */
.CodeMirror { height: auto; }
.CodeMirror-scroll { overflow-y: hidden; overflow-x: auto; }

/* code samples */
.samples { position: absolute; top: 0; right: 0; padding: 5px; }
a { color:#00f; }

/* modes */
label { cursor: pointer; }

/* scope color legend */
.legend span { font-size: 12px; border: solid 1px #000; padding: 2px; }
.level0 { background-color: #ffffff; }
.level1 { background-color: #aefab8; }
.level2 { background-color: #fafa99; }
.level3 { background-color: #a9f2ff; }
.level4 { background-color: #faadba; }
.level5 { background-color: #c9bfff; }
.level6 { background-color: #f9b5ff; }
.level7 { background-color: #c7c7c7; }
.level8 { background-color: #ffba80; }

/* fork on github */
#fork a {
    background: #000;
    color: #fff;
    text-decoration: none;
    font-family: arial, sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 5px 40px;
    font-size: 1rem;
    line-height: 2rem;
    position: relative;
    transition: 0.5s;
}

#fork a:hover {
    background: #060;
    color: #fff;
}

#fork a::before,#fork a::after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    top: 1px;
    left: 0;
    height: 1px;
    background: #fff;
}

#fork a::after {
    bottom: 1px;
    top: auto;
}

@media screen and (min-width:800px) {
	.samples {
		right:200px;
	}

    #fork {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        width: 200px;
        overflow: hidden;
        height: 200px;
        z-index:10;
    }

    #fork a {
        width: 200px;
        position: absolute;
        top: 60px;
        right: -60px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        box-shadow: 4px 4px 10px rgba(0,0,0,0.8);
    }
}